 {% extends 'base.html' %}

  {%block content%}


  {% load cart %}

  <div class='container-fluid mt-3'>
    <div class='row'>

      <!----filter -->

      <div class="col-lg-2 mx-auto">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">All Products</a>
          {% for category in categories %}
          <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
          {% endfor %}
        </div>

      </div>



      <!---all products-->


      <div id='products' class='col-lg-10 mx-auto'>
        <div class="row mx-auto">
          {% for prod in products %}
          <div class="card mx-auto mb-3" id={{prod.id}} style="width: 15rem">
            <img
              src="{{prod.product_image.url}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title">{{prod.product_name}}</h6>
              {% comment %} <p class="card-text">{{prod.product_description}}</p> {% endcomment %}
              <p>₹{{prod.product_price}}</p>
              {% comment %} {{prod | is_in_cart:request.session.cart }} {% endcomment %}
              
            </div>
            <div class="card-footer p-0 no-gutters">
              {% if prod|is_in_cart:request.session.cart %}
              <div class="row no-gutters">
                
                <form action="/#{{prod.id}}" class="col-2" method="post">
                  {% csrf_token %} 
                  <input hidden type="text" name="remove" value='Text'>
                  <input hidden type="number" name="product" value='{{prod.id}}'>
                  <input type="submit" value="-" class=" btn btn-block btn-secondary">
                </form>
                <div class="text-center col">{{prod|cart_quantity:request.session.cart}} in cart</div>
                <form action="/#{{prod.id}}" class="col-2" method="post">
                  {% csrf_token %} 
                  <input hidden type="text" name="product" value='{{prod.id}}'>
                  <input type="submit" value="+" class=" btn btn-block btn-secondary" >
                </form>
              </div>
              {% else %}
              <form action="/#{{prod.id}}" method="POST" class="btn-block">
                {% csrf_token %} 
                <input hidden type="text" name="product" value='{{prod.id}}'>
                <input type="submit" class="float-right btn btn-light border form-control" value="Add to Cart">
              </form>
              {% endif %}
              
            </div>
            
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {%endblock%}
 
